<script>
    function GetCurrentTime() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jasonObject = JSON.parse(this.responseText);
                var returnVal = "";
                returnVal += "<ul>";
                returnVal += "<li>" + "Query ID: " + jasonObject.currentTimeQueryId + "</li>";
                returnVal += "<li>" + "Time: " + jasonObject.time + "</li>";
                returnVal += "<li>" + "IP: " + jasonObject.clientIp + "</li>";
                returnVal += "</ul>";

                document.getElementById("currenttimeoutput").innerHTML = returnVal;
            }
        };

        xhttp.open("GET", "http://localhost:5000/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    function GetAllTimes() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jasonObject = JSON.parse(this.responseText);
                console.log(CreateList(jasonObject));
            }
        }
        xhttp.open("GET", "http://localhost:5000/api/currenttime/all", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    function CreateList(items) {
        var returnVal = "<ul>";
        for (var i = 0; i < items.length - 1; i++) {
            returnVal += "<li>";
            returnVal += "<p>" + "Query ID: " + items[i].currentTimeQueryId + "</p>";
            returnVal += "<p>" + "Time: " + items[i].time + "</p>";
            returnVal += "</li>";
        }
    }
</script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<button type="submit" onclick="GetCurrentTime()">Current Time</button>

<div id="currenttimeoutput"></div>

<button type="submit" onclick="GetAllTimes()">All Times</button>

<div id="allTimesList">
    <div id="allTimesListItems">

    </div>
</div>
